<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Change</title>
      <link rel="stylesheet" type="text/css" href="./css/change_password.css">
      <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>


        <script type="text/javascript" src="./js/change_password.js"></script>
  
</head>

<body>


<div class="container">
  <div class="frame">
    <div class="nav">
      <label style="font-size: 16px;">Hi! You can change your password. Enter your new password and let's start to work with us.</label>

    </div>

    <div ng-app ng-init="checked = false">
        <form class="form-signin" action="/change" method="post" name="form">


          <label for="password" >PASSWORD</label>
          <input class="form-styling pass" type="password" id="password" name="password" placeholder="" required>
          <label for="confirmPassword">CONFIRM PASSWORD</label>
          <input class="form-styling confir" type="password" id="confirmPassword" name="confirmPassword" placeholder="" required>
          <div class="btn-animate">
            <button class="btn-signin" >Change</button>

          </div>


        </form>
      </div>

      
      
  </div>
    
</div>


</body>
</html>