<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Log in/Sign up screen animation</title>
    <link rel="stylesheet" href="./css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js'></script>

    <script type="text/javascript" src="./js/index.js"></script>

</head>

<body>


<div class="container">
    <div class="frame">
        <div class="nav">

            <form class="form-signin" action="/" method="post" name="form" style="padding-top: 0px;">

                <button class="btn-signup  ">Back</button>
            </form>

        </div>


            <!-- /login?error=true-->




        <div class="forgot">
            <a href="#" class="forgot-a">Forgot your password?</a>




        </div>









    </div>

</div>


</body>
</html>
